@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.sidebar {
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-right: 0.5px solid #e6e3e3;
    min-height: 100vh;
    background-color: white;
    font-family: 'Montserrat';
}

p{
    background-color:rgb(200, 190, 190);
    color:black;
    font-size: 20px;
    text-align:center;
    height:18px;
    margin-left:5px;
    margin-right:5px;
}
.logo {
    font-size: 20px;
    font-weight: bold;
    color: #ed353b;
}
 hr {
    height: 0;
    border: 0.5px solid #e6e3e3;
}
.center {

    width: 200px;
    
}
 .center ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar .center ul .title {
    font-size: 10px;
    font-weight: bold;
    color: #999;
    margin-top: 15px;
    margin-bottom: 5px;
}
.sidebar .center ul li {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}
.sidebar .center ul li:hover {
    background-color: #ece8ff;
}
.sidebar .center ul li .icon {
    font-size: 18px;
    color: #ed353b;
}
.bottom {
    display: flex;
    align-items: center;
    margin: 10px;
}
.colorOption {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #ed353b;
    cursor: pointer;
    margin: 5px;
}

